# ===============================
# DATASETS / SATELLITE DATA
# ===============================
images/
images/**

*.SAFE
*.SAFE/**
*.tif
*.tiff
*.jp2

# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# Git
# ===============================
.git
.gitignore
