# ===============================
# DATASETS / SATELLITE DATA
# ===============================
data_predictor/
data_predictor/**
data_predictor/processed/
data_predictor/processed/**

data_trainer/
data_trainer/**

images/
images/**

datasets/
datasets/**

*.SAFE
*.SAFE/**
*.tif
*.tiff
*.jp2

# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# Git
# ===============================
.git
.gitignore
